GR_meta_xml/src/main/resources/GR/Geschafte.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://www.cmiag.ch/cdws/Geschaefte" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.cmiag.ch/cdws/Geschaefte">
	<xsd:annotation>
		<xsd:documentation>
			<SearchField xsi:type="SearchFieldMultiLangText" Name="Geschaeftstyp" BoostFactor="1" Nrs="3" xmlns="" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"/>
			<SearchField xsi:type="SearchFieldText" Name="EingereichtVon" BoostFactor="1" Nrs="6" xmlns="" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"/>
			<SearchField xsi:type="SearchFieldMultiLangText" Name="Federfuehrung" BoostFactor="1" Nrs="8;8" xmlns="" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"/>
			<SearchField xsi:type="SearchFieldMultiLangText" Name="Geschaeftstitel" BoostFactor="1" Nrs="27" xmlns="" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"/>
			<SearchField xsi:type="SearchFieldText" Name="Hauptvorstoesser" BoostFactor="1" Nrs="46" xmlns="" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"/>
			<SearchField xsi:type="SearchFieldText" Name="Kommissionsvorstoss" BoostFactor="1" Nrs="32" xmlns="" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"/>
			<SearchField xsi:type="SearchFieldMultiLangText" Name="FederfuehrungName" BoostFactor="1" Nrs="34" xmlns="" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"/>
			<SearchField xsi:type="SearchFieldMultiLangText" Name="FederfuehrungKuerzel" BoostFactor="1" Nrs="35" xmlns="" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"/>
			<SearchField xsi:type="SearchFieldMultiLangText" Name="Referendum" BoostFactor="1" Nrs="36" xmlns="" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"/>
			<SearchField xsi:type="SearchFieldDate" Name="Referendumsfrist" BoostFactor="1" Nrs="37" xmlns="" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"/>
			<SearchField xsi:type="SearchFieldDate" Name="ReferendumsfristAbgabeUnterschriften" BoostFactor="1" Nrs="38" xmlns="" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"/>
			<SearchField xsi:type="SearchFieldText" Name="Vorstossnummer" BoostFactor="1" Nrs="41" xmlns="" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"/>
			<SearchField xsi:type="SearchFieldMultiLangText" Name="Fulltext" BoostFactor="1" Nrs="27;53;54;55" xmlns="" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"/>
			<SearchField xsi:type="SearchFieldBoolean" Name="GrueneVorlage" BoostFactor="1" Nrs="56" xmlns="" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"/>
			<SearchField xsi:type="SearchFieldBoolean" Name="GraueVorlage" BoostFactor="1" Nrs="57" xmlns="" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"/>
			<SearchField xsi:type="SearchFieldBoolean" Name="ErgebnisDerErstenLesung" BoostFactor="1" Nrs="58" xmlns="" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"/>
			<SearchField xsi:type="SearchFieldBoolean" Name="ErgebnisDerZweitenLesung" BoostFactor="1" Nrs="59" xmlns="" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"/>
			<SearchField xsi:type="SearchFieldBoolean" Name="Referendungsvorlage" BoostFactor="1" Nrs="60" xmlns="" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"/>
			<SearchField xsi:type="SearchFieldDate" Name="BehandlungImGRAmSuchfeld" BoostFactor="1" Nrs="26;70" xmlns="" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"/>
			<SearchField xsi:type="SearchFieldDate" Name="LetzteBehandlungImRRRRBNr" BoostFactor="1" Nrs="69" xmlns="" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"/>
			<SearchField xsi:type="SearchFieldText" Name="LetzteBehandlungImRRRRBDatum" BoostFactor="1" Nrs="67" xmlns="" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"/>
			<SearchField xsi:type="SearchFieldMultiLangText" Name="VorstoesserParteiSuche" BoostFactor="1" Nrs="65;66" xmlns="" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"/>
			<SearchField xsi:type="SearchFieldDate" Name="VorstossEingereichtAm" BoostFactor="1" Nrs="17" xmlns="" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"/>
			<SearchField xsi:type="SearchFieldMultiLangText" Name="KommissionsvorstossSuche" BoostFactor="1" Nrs="77;78" xmlns="" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"/>
			<SearchField xsi:type="SearchFieldMultiLangText" Name="BeratendeKommission" BoostFactor="1" Nrs="9" xmlns="" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"/>
			<SearchField xsi:type="SearchFieldDate" Name="GeschaeftEroeffnet" BoostFactor="1" Nrs="25" xmlns="" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"/>
			<SearchField xsi:type="SearchFieldBoolean" Name="DringlichkeitGewaehrt" BoostFactor="1" Nrs="82" xmlns="" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"/>
			<SearchField xsi:type="SearchFieldText" Name="RegistraturplanNummern" BoostFactor="1" Nrs="83" xmlns="" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"/>
			<SearchField xsi:type="SearchFieldText" Name="Geschaeftsnr" BoostFactor="1" Nrs="2" xmlns="" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"/>
			<SearchField xsi:type="SearchFieldMultiLangText" Name="FraktionsvorstossSuche" BoostFactor="1" Nrs="91;92" xmlns="" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"/>
			<SearchField xsi:type="SearchFieldMultiLangText" Name="Fraktionsvorstoss" BoostFactor="1" Nrs="81" xmlns="" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"/>
			<SearchField xsi:type="SearchFieldDate" Name="ZurueckgezogenAm" BoostFactor="1" Nrs="18" xmlns="" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"/>
			<SearchField xsi:type="SearchFieldDate" Name="ZurueckgewiesenAm" BoostFactor="1" Nrs="93" xmlns="" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"/>
		</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="Geschaeft">
		<xsd:sequence>
			<xsd:element name="Geschaeftsnr" type="xsd:string"/>
			<xsd:element name="Geschaeftstyp" type="MultiLangTextFieldType"/>
			<xsd:element name="Geschaeftstyp_ID" type="xsd:string"/>
			<xsd:element name="EingereichtVon">
				<xsd:complexType>
					<xsd:choice minOccurs="0" maxOccurs="unbounded">
						<xsd:element name="Beteiligung" type="EingereichtVon"/>
					</xsd:choice>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Mitunterzeichner" type="xsd:decimal" nillable="true"/>
			<xsd:element name="Federfuehrung" type="MultiLangTextFieldType"/>
			<xsd:element name="BeratendeKommission" type="MultiLangTextFieldType"/>
			<xsd:element name="Themen">
				<xsd:complexType>
					<xsd:choice minOccurs="0" maxOccurs="unbounded">
						<xsd:element name="CustomStichwort" type="Themen"/>
					</xsd:choice>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="VerwendetGeschaeftAuf">
				<xsd:complexType>
					<xsd:choice minOccurs="0" maxOccurs="unbounded">
						<xsd:element name="Geschaeft" type="GeschaeftAuf"/>
					</xsd:choice>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="VerwendetGeschaeftVon">
				<xsd:complexType>
					<xsd:choice minOccurs="0" maxOccurs="unbounded">
						<xsd:element name="Geschaeft" type="GeschaeftAuf"/>
					</xsd:choice>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="VorstossEingereichtAm" type="DateTimeFieldType"/>
			<xsd:element name="ZurueckgezogenAm" type="DateTimeFieldType"/>
			<xsd:element name="Traktandierungen">
				<xsd:complexType>
					<xsd:choice minOccurs="0" maxOccurs="unbounded">
						<xsd:element name="Traktandum" type="Traktandum"/>
					</xsd:choice>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ErgaenzendeDokumente">
				<xsd:complexType>
					<xsd:choice minOccurs="0" maxOccurs="unbounded">
						<xsd:element name="Dokument" type="Dokument"/>
					</xsd:choice>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GeschaeftEroeffnet" type="DateTimeFieldType"/>
			<xsd:element name="BehandlungImGRAm1Traktandierung" type="DateTimeFieldType"/>
			<xsd:element name="BehandlungImGRAm" type="DateTimeFieldType"/>
			<xsd:element name="Geschaeftstitel" type="MultiLangTextFieldType"/>
			<xsd:element name="LetzteBehandlungImRRRRBNr" type="xsd:string"/>
			<xsd:element name="LetzteBehandlungImRRRRBDatum" type="DateTimeFieldType"/>
			<xsd:element name="Hauptvorstoesser" type="xsd:string"/>
			<xsd:element name="Kommissionsvorstoss" type="xsd:string"/>
			<xsd:element name="VorberatendeKommission" type="xsd:string"/>
			<xsd:element name="FederfuehrungName" type="MultiLangTextFieldType"/>
			<xsd:element name="FederfuehrungKuerzel" type="MultiLangTextFieldType"/>
			<xsd:element name="Referendum" type="MultiLangTextFieldType"/>
			<xsd:element name="Referendumsfrist" type="DateTimeFieldType"/>
			<xsd:element name="ReferendumsfristAbgabeUnterschriften" type="DateTimeFieldType"/>
			<xsd:element name="Fraktionsvorstoss" type="MultiLangTextFieldType"/>
			<xsd:element name="Vorstossnummer" type="xsd:string"/>
			<xsd:element name="DringlichkeitBeantrag" type="xsd:boolean" nillable="true"/>
			<xsd:element name="DringlichkeitGewaehrt" type="xsd:boolean" nillable="true"/>
			<xsd:element name="gewaehrtAm" type="DateTimeFieldType"/>
			<xsd:element name="RegistraturplanNummern" type="xsd:string"/>
			<xsd:element name="Registraturplan" type="xsd:string"/>
			<xsd:element name="ZurueckgewiesenAm" type="DateTimeFieldType"/>
		</xsd:sequence>
		<xsd:attribute name="OBJ_GUID" type="xsd:string" use="required"/>
		<xsd:attribute name="SEQ" type="xsd:string" use="optional"/>
		<xsd:attribute name="IDX" type="xsd:string" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="MultiLangTextFieldType">
		<xsd:sequence>
			<xsd:element name="de_CH" type="xsd:string"/>
			<xsd:element name="fr_CH" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DateTimeFieldType">
		<xsd:sequence minOccurs="0">
			<xsd:element name="Start" type="xsd:dateTime" nillable="true"/>
			<xsd:element name="End" type="xsd:dateTime" nillable="true"/>
			<xsd:element name="Text" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EingereichtVon">
		<xsd:sequence>
			<xsd:element name="Guid" type="xsd:string"/>
		</xsd:sequence>
		<xsd:attribute name="OBJ_GUID" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="Themen">
		<xsd:sequence>
			<xsd:element name="Thema" type="MultiLangTextFieldType"/>
		</xsd:sequence>
		<xsd:attribute name="OBJ_GUID" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="GeschaeftAuf">
		<xsd:sequence>
			<xsd:element name="Guid" type="xsd:string"/>
		</xsd:sequence>
		<xsd:attribute name="OBJ_GUID" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="Traktandum">
		<xsd:sequence>
			<xsd:element name="Guid" type="xsd:string"/>
		</xsd:sequence>
		<xsd:attribute name="OBJ_GUID" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="Dokument">
		<xsd:sequence>
			<xsd:element name="Guid" type="xsd:string"/>
		</xsd:sequence>
		<xsd:attribute name="OBJ_GUID" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="VorstoesserParteiSuche">
		<xsd:sequence/>
		<xsd:attribute name="OBJ_GUID" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="Vorstoesser">
		<xsd:sequence/>
		<xsd:attribute name="OBJ_GUID" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="GremiumKommission">
		<xsd:sequence/>
		<xsd:attribute name="OBJ_GUID" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="Gremium">
		<xsd:sequence/>
		<xsd:attribute name="OBJ_GUID" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:element name="Geschaeft" type="Geschaeft"/>
</xsd:schema>